transformers==4.35.2  # Specify the version you want
pandas==2.1.3         # Specify the version you want
PyTerrier=0.10.0      # Specify the version you want
python-terrier
nltk
gensim
ntscraper
glob
demoji
